.mission
  color: $white
  background-color: $dark-gray
  padding: 2rem 0
  .row
    height: 40vh
  div
    padding: 1.25rem
    height: 100%
  div:first-of-type
    padding-top: 0.5rem
    padding-right: 3rem
    border-right: 1px solid $white
    text-transform: uppercase
    text-align: right
    span
      display: block
  div:nth-child(2)
    display: flex
    align-items: flex-end
    padding-left: 3rem
    padding-bottom: 0.5rem
    p
      margin: 0