.supporting-1
  height: 50vh
  background-color: $light-gray
  padding: 5rem 0
  .flex-container
    justify-content: space-around
  .supp-item
    align-self: flex-start
    img
      width: 4.25rem
    p
      text-align: center
